[submodule "automations_iot_administration"]
	path = automations_iot_administration
	url = git@github.com:vurokrazia/automations_iot_administration.git
[submodule "automations_iot_frontend"]
	path = automations_iot_frontend
	url = git@github.com:vurokrazia/automations_iot_frontend.git
